.task-form {
    .task-form__row {
        margin: 0 20px;

        &:last-child {
            padding-top: 0;
            justify-content: flex-start;
        }

        &:first-child {
            margin-top: 10px;
        }
    }

    .task-form__btn {
        margin: 4px 0 0 20px;
    }

    .task-form__label-checkout {
        margin-right: 8px;
    }
}