@import "normalize.pcss";
@import "ui.pcss";
@import "mixins.pcss";
@import "global.pcss";

@import "view/add-task/index.pcss";
@import "view/tasks/index.pcss";
@import "view/login/index.pcss";
@import "view/task-form/index.pcss";
@import "view/form/index.pcss";
@import "view/shadow/index.pcss";


#root {

}